extends layout

block content
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  script(src='javascripts/main.js')
  script(src='javascripts/city_state.js')
  script(src='javascripts/angular.min.js')
  script(scr='javascripts/load_trips.js')
  nav.paper
    div
      h2.sideInfo #{title}
    div#profile.invert2
      div
        label Welcome #{firstName} #{lastName}
      div
        button#btnNewTrip.btnNav
          i.material-icons add
      div
        button#btnSettings.btnNav
          i.material-icons settings
    div
      if intro
        label.sideInfo #{intro}
      if tripName
        label.sideInfo #{tripName}
      render-dynamic-table
    div
      input#aboutBtnDash.btn.invert2(type='button' value='About')
  #view.paper
    label(for='orderBy') Order By
    br
    select#orderBy.flat(onchange='refreshTasks();')
      option(value='0') Date
      option(value='1') Priority
      option(value='2') Assignment
      option(value='3') Done
  #main
    form#newTask.paper(action='/addtask' method='POST')
      .wideGrid
        input#newTaskName.flatinput(type='text' name='taskName' placeholder='New Task')
      .wideGrid
        #newTaskDesc.flatinput(contenteditable='true' name='taskDescription' placeholder='Decription')
      div
        label(for='newTaskDate' name='taskDate') Due Date
        br
        input#newTaskDate.flat(type='date')
      div
        label(for='newTaskPriority') Priority
        br
        select#newTaskPriority.flat
          option(value='0') High
          option(value='1' selected='selected') Medium
          option(value='2') Optional
      div
        label(for='newTaskAssign') Assign
        br
        select#newTaskAssign.flat
      .wideGrid
        input.btnEmbed(type='button' value='Add Task' onclick='addTask(this);')
  #infoBar.paper
    label#taskCount.info
    label#tasksRemain.info
    label#modTime.info
  #aboutBlanket.blanket(style='display: none;')
    #aboutPage.spotlight
      h2 About
      p #{About}
  #settingsBlanket.blanket(style='display: none;')
    #settingsPage.spotlight
      h2 Settings
  #newTripBlanket.blanket(style='display: none;')
    #newTripPage.spotlight
      h2 New Trip
      form#newTripForm.register(action='/dash/addtrip' method="POST")
        div
          label.creds Title
        div
          input.creds(type='text' name='tripName' placeholder='Tripping' required='')
        div
          label.creds Region
        div
          select.creds(onchange="set_country(this,country,city_state)" size="1" name="region" required='')
            option(value="" selected="selected") SELECT REGION
            script(type="text/javascript").
              setRegions(this);
        div
          label.creds Country
        div
          select.creds(name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)" required='')
        div
          label.creds City/State
        div
          select.creds(name="city_state" size="1" disabled="disabled" onchange="print_city_state(country,this)" required='')
        #txtregion
        #txtplacename
        div
        div
          input.btn(type='submit' value='Sign up')
